org.apache.stanbol.entityhub.yard.solr.solrUri="dbpedia"
org.apache.stanbol.entityhub.yard.name="dbpedia\ Index"
org.apache.stanbol.entityhub.yard.solr.multiYardIndexLayout=B"false"
org.apache.stanbol.entityhub.yard.solr.useDefaultConfig=B"false"
org.apache.stanbol.entityhub.yard.solr.documentBoost="http://www.iks-project.eu/ontology/rick/model/entityRank"
org.apache.stanbol.entityhub.yard.id="dbpediaIndex"
org.apache.stanbol.entityhub.yard.description="Full\ local\ index\ for\ the\ Referenced\ Site\ \"dbpedia\"."
